<button type="button" class="btn btn-primary" data-toggle="modal"
        data-target="#myModal2">Assign
</button>
<!-- The Modal -->
<div class="modal" id="myModal2">
    <div class="modal-dialog">
        <div class="modal-content shadow-lg">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Please fill out Information</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <form class="user" method="post" action="{% url 'bar_seating' %}">
                    {% csrf_token %}
                    {% for p in seat.places %}
                        <h6><u>Person {{ forloop.counter }}</u></h6>
                        <div class="form-group">
                            <label for="inputName{{ forloop.counter }}">{{ forloop.counter }}. Name:</label>
                            <input type="text" id="inputName{{ forloop.counter }}"
                                   class="form-control form-control-user"
                                   name="username{{ forloop.counter }}" value="" placeholder="Name" autofocus>
                        </div>
                        <div class="form-group">
                            <label for="inputNum{{ forloop.counter }}">{{ forloop.counter }}. Student/Mobile
                                Number:</label>
                            <input type="text" id="inputNum{{ forloop.counter }}" class="form-control form-control-user"
                                   name="usernum{{ forloop.counter }}" value="" placeholder="Student/Mobile Number"
                                   autofocus>
                        </div>
                        <div class="form-group form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" name="under{{ forloop.counter }}"> Under 18
                            </label>
                        </div>
                        <hr class="style1">
                    {% endfor %}
                    <input type="hidden" id="loc" name="loc" value="{{ location.name }}"/>
                    <input type="hidden" id="tab" name="tab" value="{{ seat.name }}"/>
                    <input type="hidden" id="cap" name="cap" value="{{ seat.capacity }}"/>
                    <button type="submit" class="btn btn-success btn-block">Submit</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger"
                        data-dismiss="modal">Close
                </button>
            </div>
        </div>
    </div>
</div>